<h1>My Blog</h1>
 
<%= link_to 'New post', new_post_path %>
<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
 
  <% @posts.each do |post| %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post_path(post) %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

