<h1>New Post</h1>
<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li style='color:red;'><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', posts_path %>

